.home_context {
  color: white;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 2s;
  opacity: 1;
}
.home_title {
  margin: 20px 0px;
}
.home_text {
  width: 50%;
  text-align: center;
}
